body {
    background-color: rgb(224, 224, 224)
}

h1 {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 50vw;
}

div {
    background-color: rgb(159, 159, 159);
    color: black;
    width: 50vw;
}


.divMorado {
    background-color: rgb(131, 65, 182);
}

.divEmpty {
    background-color:rgb(224, 224, 224);
}

.dibujo {
    background-color: rgb(0, 0, 0);
}

#divUnico {
    background-color: rgb(255, 255, 255);
}

#dibujo {
    background-color: aliceblue;
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cara {
    width: 70%;
    height: 50%;
    background-color: antiquewhite;
    border-radius: 50%;
    position: relative;
    margin-top: 160px;
}

.ojos {
    width: 25%;
    height: 25%;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

#ojoIzq {
    top: 20%;
    left: 20%;
    position: relative;
}

#ojoDer {
    top: 20%;
    right: 20%;
}

#pupilaIzq {
    width: 50%;
    height: 50%;
    background-color: brown;
    top: 25%;
    left: 0%;
}

#pupilaDer {
    width: 50%;
    height: 50%;
    background-color: brown;
    top: 25%;
    right: 50%;
}

.sombrero {
    background-color: black;
    position: absolute;
}

#sombrero1 {
    width: 100%;
    height: 20%;
    top: 0%;
    left: 0%;
}

#sombrero2 {
    width: 60%;
    height: 50%;
    top: -30%;
    left: 20%;
}