body {
    background-color: rgb(224, 224, 224)
}

h1 {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100vw;
}

div {
    background-color: rgb(159, 159, 159);
    color: black;
    width: 50vw;
}

.divMorado {
    background-color: rgb(131, 65, 182);
}

.divEmpty {
    background-color:rgb(224, 224, 224);
}

.dibujo {
    background-color: rgb(0, 0, 0);
}

#divUnico {
    background-color: rgb(255, 255, 255);
}

#dibujo {
    background-color: aliceblue;
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cara {
    width: 70%;
    height: 70%;
    background-color: antiquewhite;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ojos {
    width: 25%;
    height: 30%;
    border-radius: 50%;
}

#ojoIzq {
    background-color: rgb(255, 255, 255);
}

#ojoDer {
    background-color: rgb(255, 255, 255);
}